.THIS .slds-leftpad{
	padding-left: 2rem;
}
.THIS .iconheight{
    top: 65%;
}

.THIS .leftspace input {
    padding-left:2rem;
}
/*
.THIS .slds-icon_small{
	float:left; 
    position:absolute; 
    top:10px;
	left: -3px;    
}
*/