.THIS .requiredInr .slds-input  {
    background: rgb(250, 221, 226);
}

.THIS .reqDob  {
    content:"* ";
    color: red;    
    background: rgb(250, 221, 226);
}

.THIS .multi  .slds-dueling-list__options {
    background: rgb(250, 221, 226);
}
.THIS .toastMessage.forceActionsText{
    white-space : pre-line !important;
}

.THIS .req:before {
    content:"* ";
    color: red;
  }